<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<!--Change The Parallel attribute for parallel Execution-->
<suite name="Suite"  >

       <test name="FirefoxTest">
             
              <classes>
                     <class name="multibrowser.MultiBrowserTest" />
              </classes>
     
   </test>
</suite>

