<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<!--Change The Parallel attribute for parallel Execution-->
<suite name="Suitet"  >

       <test name="FirefoxTest">
              <parameter name="browser" value="firefox" />
              <classes>
                     <class name="multibrowser.MultiBrowserTest" />
              </classes>
     
   </test>
</suite>

